html{
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#0dd874 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}
body{
    margin:0;
    font-family: Tahoma;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:larger;
    min-height: 100svh;

}
nav {
    position: absolute; /* O usa fixed si quieres que permanezca al hacer scroll */
    top: 0;
    right: 450px;
    padding: 1em;
    font-size: 1.3vw;
}
.circulo{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: black;
    position:relative;
    top:100px;;
    right: 500px;
}
.circulo1{
    position: relative;
    top:-200px;;
    z-index: 2;
    left: 0;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: black;
}

.form-container{
    width: 500px;
}
.titulo{
    text-align: left;
    color: #e5e5f7;
    font-size: 5vw;
    top:auto;
    width: 8vw;
    z-index: 3;
    mix-blend-mode:difference;
}
.contenedor{
    display: flex;
    gap: 10vw;
}


form{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top: 20px;
}

form+p{
    text-align: center;
}
input,button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
}
.sr-only{
    position: absolute;
    left: -10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
.error{
    color: red;
}
.escondido{
    display: none;
}
button:hover{
    background-color:rgb(39, 106, 194);
    cursor: url("cursor.png") 0 0, pointer;
}