html,body {
    font-family: Tahoma;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:larger;
    min-height: 100svh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el scroll */
    height: 100%;
}
nav {
    position: absolute; /* Para que flote sobre el container */
    top: 0; /* Pegado a la parte superior */
    width: 100%; /* Que abarque todo el ancho */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor visibilidad */
    z-index: 10; /* Para que esté por encima de otros elementos */
    padding: 1em 0;
    font-family:Tahoma, sans-serif;
}

.main-nav {
    display: flex;  /* Para que los elementos estén en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    margin: 0 1em;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
  
  .push {
    margin-left: auto;
  }
.circulo{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}
.logo{
    width: 15vw;
    height: 15vw;
    background-image: url("/images/Captura de pantalla 2025-02-20 172945 (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transform: translate(-50%, -50%); /* Solo aquí */
    cursor: url("cursor.png") 0 0, pointer;
    transition: transform 1.5s ease;
    transform-origin: center;
    -moz-transition: 1.5s ease; /* Firefox */
    -webkit-transition: 1.5s ease; /* Chrome - Safari */
    -o-transition: 1.5s ease; /* Opera */

}

.logo:hover{
    transform: translate(-50%, -50%) scale(1.5);
    -moz-transform : scale(2); /* Firefox */
    -webkit-transform : scale(2); /* Chrome - Safari */
    -o-transform : scale(2); /* Opera */
    -ms-transform : scale(2); /* IE9 */


}
.imagen1{
    width: 50vw;
    height: 50vw;
    background-image: url("/images/Metro-medellin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(50%);
}
.imagen{
    display: flex;
    width: 50vw;
    height: 50vw;
    background-image: url("/images/'Medellin City Map BW Art' Poster, picture, metal print, paint by Design Turnpike _ Displate.jpg");
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    filter: brightness(50%);
}
.figuras{
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 4vw;
    width: 100%; /* Que ocupe todo el ancho */
    height: 100%; /* Que ocupe toda la altura */
}
.container{
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: rgba(18, 18, 18, 0.215);
    width: 100vw;
    height: 50vw;
}
p {
    position: absolute;
    background-position: center;
    top:10%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    animation-duration: 3s;
    animation-name: slide-in;
    font-size: 1vw;
    color: beige;

  }
  
  @keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }